html, body
{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

*{
	margin : 0;
	padding : 0;
	border : 0;
	box-sizing : border-box;
}

#wrapper_navbar
{
	width:80%;
	height: 60px;
	margin: 0 auto;
}

#wrapper_navbar #socmedright
{
	float:right;
	margin-left: 7px;
	opacity: 0.5;
}

#wrapper_navbar>div>p
{
	float:right;
	opacity: 0.5;
	padding: 0;
	margin: 0;
	padding-top:5px;
}

#wrapper_navbar2
{
	width:80%;
	margin: 0 auto;
}

#wrapper_navbar2 li
{
	
	list-style: none;
	margin-left:30px;
	text-align: center;
	color: black;
	font-family: agency fb;
	margin-top: 3px;
}

#header ul
{
	display:inline-block;
	float:left;
	position:fixed;
	background-color: white;
	width:100%;
	padding:10px;
	top:0px;
}

div .absolute {

	position: absolute;
    left: 200px;
    width: 100px;
    height: 50px;
}

#header ul li
{

	float:right;
	list-style: none;
	margin-right:30px;
	text-align: center;
	color: black;
	font-family: agency fb;
	margin-top: 12px;
	transition:ease 1s;
}

#header ul li a
{
	text-decoration: none;
	color:black;
	transition:ease 1s;
}

#header ul li a:hover
{
	text-decoration: none;
	color:black;
	color:grey;
}

#header ul li:hover{
	margin-top:6px;
}

#navbar
{
	position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);
    padding: 10px;
    background: white;
    z-index: 999;
}

#footer
{
	background-color: black;
	padding: 20px 0;
	margin-top:20px;
}

#footer2
{
	background-color: black;
	padding: 20px 0;
	margin-top:20px;
}

#wrapper_footer_top
{
	width: 80%;
	margin: 0 auto;
}

#footer_top
{
	color: white;
	text-align: center;
}
#footer_top2
{
	color: white;
	text-align: center;
}
#footer_top_socmed
{
	text-align: center;
	margin-left:20px;
}


#footer_top img
{
	vertical-align: middle;
	margin-left:30px;
}

#footer_top2 img
{
	vertical-align: middle;
	margin-left:30px;
}

#footer_bot
{
	width: 50%;
	margin: 0 auto;
	text-align: center;
	color: white;
	padding-top: 30px;
}

#home{
	color: white;
	background-color: black;
	margin-top: 100px;
}

/*login.html--------------------------------------------------------------------*/

#contentSignin
{
	background-image: url(../pic/background5.jpg);
	background-size: cover;
	margin-top: 100px;
}

#wrapper_contentSignin a
{
	font-size: 15px;
}

#wrapper_contentSignin
{
	width: 35%;
	margin: 0 auto;
	padding:70px 0;
}

#wrapper_contentSignin h2
{
	font-family: arial black;
	font-size:25px;
}

#wrapper_contentSignin .form-input input
{
	padding:15px 0;
	border-radius: 6px;
	width:420px;
	font-size: 17px;
}

#wrapper_contentSignin #form-submit
{
	color:black;
}

/*signup.html------------------------------------------------------------*/

#contentSignup
{
	background-image: url(../pic/background5.jpg);
	background-size: cover;
	margin-top:100px;
}

#asd{
	display: inline-block;
}

#wrapper_contentSignup a
{
	font-size: 15px;
}

#wrapper_contentSignup
{
	width: 30%;
	margin: 0 auto;
	padding:70px 0;
}

#wrapper_contentSignup h2
{
	font-family: arial black;
	font-size:25px;
}

#wrapper_contentSignup .form-input input
{
	padding:15px 0;
	border-radius: 6px;
	width:420px;
	font-size: 17px;
}

#wrapper_contentSignup #form-submit
{
	color:black;
}

/*forgotpass.html---------------------------------------------------------*/

#contentForPass
{
	background-image: url(../pic/background5.jpg);
	background-size: cover;
	min-height: 60%;
	padding:35px 0;
	margin-top:100px;
}


#wrapper_contentForPass a
{
	font-size: 15px;
}

#wrapper_contentForPass h2
{
	font-family: arial black;
	font-size:25px;
}

#wrapper_contentForPass .form-input input
{
	padding:15px 0;
	border-radius: 6px;
	width:420px;
	font-size: 17px;
}
/*------------------------------------------------------------------------*/
	#gallery{
		text-align: center;
	}

	#gallery h1{
		display: inline-block;
	}

	.img {
		border-radius: 20px;
		height: 400px;
		width: : 600px;
	}
	ul {
		list-style-type: none;
	}
	.areg {
		display : block;
		background-color: #323232;
		border-radius: 8px;
		padding-top: 10px;
		padding-bottom: 10px;
		width : 20%;
		color : white;
	}
	.areg:hover {
		display : block;
		background-color: #4b4b4b;
		border-radius: 8px;
		padding-top: 10px;
		padding-bottom: 10px;
		width : 20%;
		color : #0A0A0A;
		text-decoration: none;
	}
	a {
		text-decoration: none;
	}

	* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

 .jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}
